// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.app.implementation;

import com.azure.app.fluent.ResourceProvidersClient;
import com.azure.app.fluent.models.PreviewAlertRuleResponseInner;
import com.azure.app.models.PreviewAlertRuleRequest;
import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in ResourceProvidersClient.
 */
public final class ResourceProvidersClientImpl implements ResourceProvidersClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final ResourceProvidersService service;

    /**
     * The service client containing this operation class.
     */
    private final PreviewAlertRuleApiInAlertsManagementServiceResourceProviderImpl client;

    /**
     * Initializes an instance of ResourceProvidersClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    ResourceProvidersClientImpl(PreviewAlertRuleApiInAlertsManagementServiceResourceProviderImpl client) {
        this.service
            = RestProxy.create(ResourceProvidersService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for
     * PreviewAlertRuleApiInAlertsManagementServiceResourceProviderResourceProviders to be used by the proxy service to
     * perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "PreviewAlertRuleApiInAlertsManagementServiceResourceProviderResourceProviders")
    public interface ResourceProvidersService {
        @Headers({ "Content-Type: application/json" })
        @Post("/{resourceId}/providers/microsoft.AlertsManagement/previewAlertRule")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<PreviewAlertRuleResponseInner>> previewAlertRule(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("resourceId") String resourceId,
            @BodyParam("application/json") PreviewAlertRuleRequest parameters, @HeaderParam("Accept") String accept,
            Context context);

        @Headers({ "Content-Type: application/json" })
        @Post("/{resourceId}/providers/microsoft.AlertsManagement/previewAlertRule")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Response<PreviewAlertRuleResponseInner> previewAlertRuleSync(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("resourceId") String resourceId,
            @BodyParam("application/json") PreviewAlertRuleRequest parameters, @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Retrieves the results of a simulated historical execution of an alert rule.
     * 
     * @param resourceId The resourceId parameter.
     * @param parameters The parameters parameter.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response body along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<PreviewAlertRuleResponseInner>> previewAlertRuleWithResponseAsync(String resourceId,
        PreviewAlertRuleRequest parameters) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (resourceId == null) {
            return Mono.error(new IllegalArgumentException("Parameter resourceId is required and cannot be null."));
        }
        if (parameters == null) {
            return Mono.error(new IllegalArgumentException("Parameter parameters is required and cannot be null."));
        } else {
            parameters.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.previewAlertRule(this.client.getEndpoint(), this.client.getApiVersion(),
                resourceId, parameters, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Retrieves the results of a simulated historical execution of an alert rule.
     * 
     * @param resourceId The resourceId parameter.
     * @param parameters The parameters parameter.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response body on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PreviewAlertRuleResponseInner> previewAlertRuleAsync(String resourceId,
        PreviewAlertRuleRequest parameters) {
        return previewAlertRuleWithResponseAsync(resourceId, parameters)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Retrieves the results of a simulated historical execution of an alert rule.
     * 
     * @param resourceId The resourceId parameter.
     * @param parameters The parameters parameter.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response body along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<PreviewAlertRuleResponseInner> previewAlertRuleWithResponse(String resourceId,
        PreviewAlertRuleRequest parameters, Context context) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (resourceId == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter resourceId is required and cannot be null."));
        }
        if (parameters == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter parameters is required and cannot be null."));
        } else {
            parameters.validate();
        }
        final String accept = "application/json";
        return service.previewAlertRuleSync(this.client.getEndpoint(), this.client.getApiVersion(), resourceId,
            parameters, accept, context);
    }

    /**
     * Retrieves the results of a simulated historical execution of an alert rule.
     * 
     * @param resourceId The resourceId parameter.
     * @param parameters The parameters parameter.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public PreviewAlertRuleResponseInner previewAlertRule(String resourceId, PreviewAlertRuleRequest parameters) {
        return previewAlertRuleWithResponse(resourceId, parameters, Context.NONE).getValue();
    }

    private static final ClientLogger LOGGER = new ClientLogger(ResourceProvidersClientImpl.class);
}
